<footer>
    <div class="container">
        <div class="footer__cards">
            <div class="row g-5 text-light text-center">
                <div class="card__info col-lg-4 col-md-6">
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
                <div class="card__info col-lg-4 col-md-6">
                    <h3>AROUND THE WEB</h3>
                    <div class="footer__icons">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-linkedin-in"></i>
                        <i class="fas fa-globe"></i>
                    </div>
                </div>
                <div class="card__info col-lg-4 col-md-6">
                    <h3>ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-light py-4 text-center">
        <p>Copyright © Your Website 2021</p>
    </div>
</footer>