<section class="about">
    <div class="container">
        <div class="header">
            <h1>ABOUT COMPONENT</h1>
            <div class="header__icon position-relative mb-4">
                <i class="fas fa-star"></i>
            </div>
            <div class="row">
                <div class="col-md-6 text-start">
                    Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                    files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.
                </div>
                <div class="col-md-6 text-start">
                    Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                    files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.
                </div>
            </div>
        </div>
    </div>
</section>